/* ==================== MEDIA QUERIES TELEFON ==================== */
@media (max-width: 480px) {
    /* header */
    .banner {
        flex-direction: row;
        align-items: center;
        padding: 0;
    }
    .logo-link img {
        width: 3rem;
        height: auto;
    }
    .logo-name img {
        width: 15vw;
    }




    /* topnav */
    .topnav ul {
        flex-direction: row;
        gap: 2vw;
        padding: 0;
    }
    .topnav li {
        font-size: 2vw;
        text-align: left;
    }

    /* koszyk */
    .cart-icon {
        top: 1vw;
        right: 2vw;
        font-size: 4vw;
    }

    /* sidebar */
    .sidebar {
        top: 0;
        width: 100%;
        padding: 0 5vw;
    }
    .sidebar ul {
        padding-left: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 3vw;
        position: sticky;
        top: 0;
    }
    .sidebar li {
        font-size: 3vw;
        padding: 10px 0;
    }

    /* layout */
    .layout {
        flex-direction: column;
        align-items: center;
    }
    main {
        max-width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    h2 {
        font-size: 6vw;
    }
    p {
        font-size: 4vw;
        padding-bottom: 20px;
        max-width: 80vw;
    }
    #kartka, .product-gallery {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 100vw;
        justify-items: center;
    }
    .main-image {
        max-width: 80vw;
        padding: 0 10px;
    }
    .opis {
        max-width: 60vw;
    }
    .main-image img {
        max-width: 80vw;
        padding: 0;
        display: block;
        margin: 0 auto;
    }
}