/* header */

body {
    font-family: Arial, Helvetica, sans-serif;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 4px #f5f7fa;
    position: sticky;
    top: 0;
    z-index: 1000; /* robi rzeczy nad stroną przy scrollowaniu */
    background-color: #fff;
}
.banner img {
    width: 80px;
    height: auto;
}
.nazwastrony img {
    width: 150px;
    height: auto;
}
.logo-conteiner {
    display: flex;
    align-items: center;
}
.logo-link img {
    height: 80px;
    width: auto;
}


/* menu top */

.topnav ul {
    display: flex;      /* robi wolną przestrzeń */
    align-items: center;    /*ustawia w centrum wolnej przestrzeni */
    gap: 30px;  /*odstępy między napisami */
}
.topnav a {
    text-decoration: none;  /*usuwa podkreślenia */
    color: #1f1f11;
}
.topnav li {
    list-style: none;   /*usuwa kropki */
    font-size: 20px;
}
.topnav a:hover {
    color: #91918c;
}


/* koszyk */
.cart-icon {
    top: 10px;    /* od góry nagłówka */
    right: 20px;  /* od prawej krawędzi nagłówka */
    font-size: 24px;
    text-decoration: none;
    color: #1f1f11;
}

/* sidebar */
.sidebar a {
    text-decoration: none;
    color: #1f1f11;
}
.sidebar a:hover {
    color: #91918c;
}
.sidebar li {
    list-style: none;
    padding: 20px;          /*odsuwa napisy od sebie */
    font-size: 20px;
}
.sidebar ul {
    width: 150px;
    height: auto;
    padding-left: 40px;          /*robi niewidzianą ramkę dookoła menu */
}



/* layout */
.layout {
    display: flex;
    align-items: top;
}





/* main */
h2 {
    font-size: 42px;
    width: 60%;
}
p {
    font-size: 20px;
    width: 60%;
}
main {
    padding: 0 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#kartka {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.photo {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}
.opis {
    flex: 1;
    background-color: #f5f7fa;   
    padding: 0 40px;
    padding-bottom: 40px;
}
span {
    font-size: 20px;
}
.product-gallery {
  width: 100%; /* dopasuj do potrzeb */
  margin: auto;
  text-align: left;
  display: flex;
  align-items: flex-start;

}

.main-image {
    flex: 1;
}
.main-image img {
    border-radius: 16px;
    width: 100%;
    max-width: 1000px;
    height: auto;
}

#kontakt {
 margin-top: 50px; /* przykleja przycisk na dole prawej kolumny */
    margin-bottom: 30px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

}




#add-to-cart {
    margin-top: 50px; /* przykleja przycisk na dole prawej kolumny */
    margin-bottom: 30px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cart-item {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.cart-icon {
    text-decoration: none;
    font-size: 20px;
}
